<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="/stylesheets/stylesAbout.css" />
</head>
<body>
    <h1>Afonso is quite the pickle</h1>
    <p>Afonso was the son of Teresa of León and Henry of Burgundy, rulers of the County of Portugal. Henry died in 1112, leaving Theresa to rule alone. Unhappy with Theresa's romantic relationship with Galician Fernando Pérez de Traba and his political influence, the Portuguese nobility rallied around Afonso, who revolted and defeated his mother at the Battle of São Mamede in 1128 and became Count of Portugal soon afterwards. In 1139, Afonso renounced the suzerainty of the Kingdom of León and established the independent Kingdom of Portugal.</p>


    <a class="links" href="/home">Intro</a>
    <a class="links" href="/works">This is what Afonso did</a>
</body>
</html>