<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/stylesheets/stylesHome.css" />
</head>
<body>
    <h1>This is Afonso</h1>
    <img src="/images/estatuaAfonsoH.jpg" alt="Afonso">

    <a class="links" href="/about">About Afonso</a>
    <a class="links" href="/works">This is what Afonso did</a>
</body>
</html>