<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Works</title>
    <link rel="stylesheet" href="/stylesheets/stylesWorks.css" />
</head>
<body>
    
    <a href="https://en.wikipedia.org/wiki/Reconquista" target="blank">Reconquista</a>
    <br>
    <img src="/images/siege.jpg" alt="">

    <a class="links" href="/home">Intro</a>
    <a class="links" href="/about">About Afonso</a>
</body>
</html>